In [1]:
import pandas as pd

In [2]:
#Read in data from csv files
test_df = pd.read_csv(r"C:\Users\halcm\Desktop\ProjectData\tmdb-box-office-prediction\test.csv")

#Take a glimpse at the data
test_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [3]:
#Determine how many rows I'm working with for each column
test_df.count()

id                       4398
belongs_to_collection     877
budget                   4398
genres                   4382
homepage                 1420
imdb_id                  4398
original_language        4398
original_title           4398
overview                 4384
popularity               4398
poster_path              4397
production_companies     4140
production_countries     4296
release_date             4397
runtime                  4394
spoken_languages         4356
status                   4396
tagline                  3535
title                    4395
Keywords                 4005
cast                     4385
crew                     4376
dtype: int64

In [4]:
#Drop unwanted columns from dataframe
test_df.drop(["belongs_to_collection",
          "homepage",
          "imdb_id",
          "original_language",
          "original_title",
          "overview",
          "poster_path",
          "spoken_languages",
          "status",
          "Keywords",
          "cast",
          "crew"
         ], axis = 1, inplace = True)

In [5]:
test_df.count()

id                      4398
budget                  4398
genres                  4382
popularity              4398
production_companies    4140
production_countries    4296
release_date            4397
runtime                 4394
tagline                 3535
title                   4395
dtype: int64

In [ ]:
#Remove missing values
test_df = test_df.dropna(how='any')

#See if removing the missing values evened out the data
test_df.count()

In [ ]:
#Rename columns to keep column headers less than 20 characters
test_df=test_df.rename(columns = {
    'id':'ID',
    'budget':'Budget',
    'genres':'Genres',
    'popularity':'Popularity',
    'production_companies':'Prod Companies',
    'production_countries':'Prod Countries',
    'release_date':'Release Date',
    'runtime':'Runtime',
    'tagline':'Tagline',
    'title':'Title',
    'revenue':'Revenue',
    })
test_df.head()

In [ ]:
#Reorder the columns in the dataframe
test_df = test_df[[
    'ID',
    'Title',
    'Release Date',
    'Budget',
    'Revenue',
    'Genres',
    'Popularity',
    'Runtime',
    'Tagline',
    'Prod Companies',
    'Prod Countries'
]]
test_df.head()

In [ ]:
#Save appended and cleaned dataframe to a new csv
#train_df.to_csv(r"C:\Users\halcm\Desktop\ProjectData\tmdb-box-office-prediction\cleaned_test.csv")